<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comunicacidadao">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InformacoesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VisualizacaoMeusChamadosActivity"
            android:label="@string/title_activity_visualizacao_meus_chamados"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.MenuActivity" />
        </activity>
        <activity
            android:name=".VisualizacaoDetalhadaChamadosActivity"
            android:label="@string/title_activity_visualizacao_detalhada_chamados"
            android:parentActivityName=".VisualizacaoChamadosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.VisualizacaoChamadosActivity" />
        </activity>
        <activity
            android:name=".VisualizacaoChamadosActivity"
            android:label="@string/title_activity_visualizacao_chamados"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.MenuActivity" />
        </activity>
        <activity
            android:name=".CriarChamadoActivity"
            android:label="@string/title_activity_criar_chamado"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.MenuActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.MainActivity" />
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.comunicacidadao.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>